**/*.o
**/*.d
**/.DS_Store
.devcontainer/**
docs/
README.md
.claude/
_fn/
memo.md
todo.txt
AGENTS.md

# valgrind --leak-check=full --show-leak-kinds=all -q
# CXXFLAGS = -Wall -Wextra -Werror -pedantic -std=c++98 -fsanitize=address -g
